.customButton {
  position: absolute;
  z-index: 3;
  right: 0.5em;
  float: left;
  width: 32px;
  height: 32px;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid rgb(226, 226, 226);
  border-left: none;
  border-image: initial;
  border-radius: 3px 3px 3px 3px;
  /* Add other properties as needed */
}
