.parent {
    outline: dashed 1px black;
    /* 설정 */
    position: relative;
  }

  .child {
    background-color: red;
    /* 상하좌우 정중앙 정렬하기 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }